@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 68%
    right: 10%
    width: 20%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

///////////CUSTOM BANNER PRINCIPAL E INTERNO/////////////
.banner-principal .tarjeta
  background-position: left 50% !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption, table caption
  font-weight: normal

.banner-principal__row .banner-principal__img
  width: 500px !important
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important

.banner-interno__fondo
  background-image: url("../assets/curso/banner_interno.png") !important
  background-color: $color-secundario-s5 !important
.banner-principal .tarjeta
  @media screen and (max-width: $bp-max-md)
    background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important
  @media screen and (max-width: $bp-max-xs)
    background-image: url("../assets/curso/portada/fondo-banner-principal-xs.png") !important

.barra-avance__boton--regresar
  span
    color: $white !important

.text-end 
    text-align: left !important

.bg-botones-a5
  background-color: $color-acento-botones-a5
.bg-secundario-s5
  background-color: $color-secundario-s5
.bg-secundario-s10
  background-color: $color-secundario-s10
.bg-contenido-a5
  background-color: $color-acento-contenido-a5
.bg-primario-p10
  background-color: $color-primario-p10
  
.bg-slider
  background: url('../assets/curso/common/bg-slider.png') no-repeat
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.banner-text
  background: $white
  border-radius: 10px
  padding: 20px
  margin-top: -30px
  @media screen and (min-width: $bp-min-md)
    padding: 20px 30px
    margin-top: -80px

.slyder-a
  .slyder-a__btn--atrs, .slyder-a__btn--sigt
    background-color: $color-acento-botones
    background-image: url('../assets/curso/common/arrow-white.svg')
  .slyder-a__bullets__item
    background-color: $color-terciario
    border-color: $color-terciario
  &__bullets__item
    margin: 0 4px
    @media (min-width: $bp-min-sm)
      margin: 0 10px

.tabs-a
  &__tab
    background-color: $color-primario-p10
  .col-lg-4.col-xl-3
    @media screen and (min-width: $bp-min-xl)
      width: 35%
  .col-lg-8.col-xl-9
    @media screen and (min-width: $bp-min-xl)
      width: 65%

.imgw-72
  width: 72px
  margin-left: auto

.cursor-pointer.crd_hover_txt
  cursor: pointer
.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)

  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 4.85rem ))
    background-color: $color-acento-botones
    p, h4, h5
      color: $white

    &--custom
      @media (min-width: $bp-min-md) and (max-width: $bp-max-md)
        padding-top: 0.5rem
    &--custom-1
      @media (min-width: $bp-min-xl)
        padding-top: 0.5rem

    &:hover
      background-color: $color-acento-botones-a5
      p, h4, h5
        color: $color-sistema-texto

  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em